@-webkit-keyframes slide-in-elliptic-left-fwd {
    0% {
        -webkit-transform: translateX(-800px) rotateY(30deg) scale(0);
        transform: translateX(-800px) rotateY(30deg) scale(0);
        -webkit-transform-origin: -100% 50%;
        transform-origin: -100% 50%;
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0) rotateY(0) scale(1);
        transform: translateX(0) rotateY(0) scale(1);
        -webkit-transform-origin: 1800px 50%;
        transform-origin: 1800px 50%;
        opacity: 1;
    }
}

@keyframes slide-in-elliptic-left-fwd {
    0% {
        -webkit-transform: translateX(-800px) rotateY(30deg) scale(0);
        transform: translateX(-800px) rotateY(30deg) scale(0);
        -webkit-transform-origin: -100% 50%;
        transform-origin: -100% 50%;
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0) rotateY(0) scale(1);
        transform: translateX(0) rotateY(0) scale(1);
        -webkit-transform-origin: 1800px 50%;
        transform-origin: 1800px 50%;
        opacity: 1;
    }
}


.toast {
    position: relative;
    min-width: 350px;
    -webkit-animation: slide-in-elliptic-left-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-elliptic-left-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-in-elliptic-left-fwd {
    -webkit-animation: slide-in-elliptic-left-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-elliptic-left-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20viewBox%3D%220%200%2030%2030%22%20width%3D%2230px%22%20height%3D%2230px%22%3E%3Cg%20id%3D%22surface72142057%22%3E%3Cpath%20style%3D%22%20stroke%3Anone%3Bfill-rule%3Anonzero%3Bfill%3Argb%2861.176473%25%2C63.529414%25%2C67.450982%25%29%3Bfill-opacity%3A1%3B%22%20d%3D%22M%205.492188%203.789062%20L%203.789062%205.492188%20L%2013.292969%2015%20L%203.730469%2024.582031%20L%205.417969%2026.269531%20L%2015%2016.707031%20L%2024.5625%2026.269531%20L%2026.269531%2024.5625%20L%2016.707031%2015%20L%2026.210938%205.492188%20L%2024.507812%203.789062%20L%2015%2013.292969%20Z%20M%205.492188%203.789062%20%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}

.toast-body {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    line-height: 1.2;
}

.toast-body i {
    font-size: 50px;
    margin-right: 12px;
    flex: 0 0 auto;
}

.toast-body svg {
    width: 50px;
    height: auto;
    margin-right: 12px;
    flex: 0 0 auto;
}

@-webkit-keyframes flip-in-hor-bottom {
    0% {
        -webkit-transform: rotateX(80deg);
        transform: rotateX(80deg);
        opacity: 0;
    }

    100% {
        -webkit-transform: rotateX(0);
        transform: rotateX(0);
        opacity: 1;
    }
}

@keyframes flip-in-hor-bottom {
    0% {
        -webkit-transform: rotateX(80deg);
        transform: rotateX(80deg);
        opacity: 0;
    }

    100% {
        -webkit-transform: rotateX(0);
        transform: rotateX(0);
        opacity: 1;
    }
}

.modal.fade {
    -webkit-animation: flip-in-hor-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: flip-in-hor-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background-color: #999;
}

::-webkit-scrollbar-track-piece {
    background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
    height: 50px;
    background-color: #888;
    border-radius: 3px;
}

::-webkit-scrollbar-corner {
    background-color: #999;
}

.lh-1 {
    line-height: 1 !important;
}
